/*TABLE FORMATTING THE SEARCH RESULTS SECTION STARTS*/

.search-results{ /*the table itself*/
    width:90%;
    margin:auto;
    border: 2px solid;
    border-color: rgba(107, 107, 107, 0.855);
    border-radius:20px;
    border-collapse: collapse;
}
th{ /*the uppermost row*/
    background-color: rgb(226, 226, 226);
    border: 2px solid;
    border-color: rgba(107, 107, 107, 0.855);
    border-radius:5px;
}
tr{
    background-color: white;
    border: 2px solid;
    border-color: rgba(107, 107, 107, 0.855);
    border-radius:20px;
}
td {
    text-align: center;
    border: 2px solid;
    border-color: rgba(107, 107, 107, 0.855);
    padding: 0.5rem;
}
tr:hover {
    background-color: rgb(55, 55, 55);
    color:white;
}

/*TABLE FORMATTING THE SEARCH RESULTS SECTION ENDS*/